#user-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#user-toggle button {
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#user-toggle button.active {
    background-color: #007bff;
    color: white;
}

#user-toggle button:hover {
    background-color: #0056b3;
    color: white;
}
