.pet-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.pet-details-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.pet-details-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pet-details-container h3, .pet-details-container h4 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
}

.pet-details-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pet-details-container button:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.adoption-form-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    height: 2600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.pet-details-container-info{
    display: flex;
    width: 100%;
}
.pet-details-container-info-img{
    width: 100%;
}
.pet-details-container-info-text{
    width: 100%;
    text-align: left;
}
.adoption-form-container h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.radio-group label {
    display: inline-block;
    margin-right: 20px;
    font-size: 1rem;
    color: #555;
}

.radio-group input {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
